In [1]:
from un_wpp import *

In [2]:
walden_ds = load_walden_ds()
tmp_dir = extract_data(walden_ds)
df_population, df_fertility, df_demographics, df_depratio, df_deaths = load_data(
    tmp_dir
)

In [22]:
df_population.AgeGrpStart.astype("uint8")

0            0
1            1
2            2
3            3
4            4
          ...
8894560     96
8894561     97
8894562     98
8894563     99
8894564    100
Name: AgeGrpStart, Length: 8894565, dtype: uint8

In [24]:
df_population.astype(
    {
        "Time": "uint16",
        "MidPeriod": "uint16",
        "AgeGrpStart": "uint8",
        "AgeGrpSpan": "uint8",
    }
).memory_usage(deep=True).sum() / 1e6

436.000962

In [32]:
df_fertility.MidPeriod.astype("float32")

0          1950.5
1          1950.5
2          1950.5
3          1950.5
4          1950.5
            ...
2008390    2100.5
2008391    2100.5
2008392    2100.5
2008393    2100.5
2008394    2100.5
Name: MidPeriod, Length: 2008395, dtype: float32

In [33]:
df_fertility.astype({"MidPeriod": "float32"}).memory_usage(deep=True) / 1e6

Index           0.000128
SortOrder       4.042083
LocID           4.042175
Notes           2.011928
ISO3_code       4.039246
ISO2_code       4.038951
SDMX_code       4.041772
LocTypeID       2.009103
LocTypeName     2.009176
ParentID        2.011512
Location        4.044830
VarID           2.009218
Variant         2.009307
Time           16.067160
MidPeriod       8.033580
AgeGrp          2.008953
AgeGrpStart    16.067160
AgeGrpSpan     16.067160
ASFR           16.067160
PASFR          16.067160
Births         16.067160
dtype: float64

In [36]:
df_demographics.dtypes.head(20)

SortOrder                 category
LocID                     category
Notes                     category
ISO3_code                 category
ISO2_code                 category
SDMX_code                 category
LocTypeID                 category
LocTypeName               category
ParentID                  category
Location                  category
VarID                     category
Variant                   category
Time                         int64
TPopulation1Jan            float64
TPopulation1July           float64
TPopulationMale1July       float64
TPopulationFemale1July     float64
PopDensity                 float64
PopSexRatio                float64
MedianAgePop               float64
dtype: object

In [34]:
df_demographics.memory_usage(deep=True).sum() / 1e6

134.290604

In [37]:
df_depratio.dtypes.head(20)

Index                                                 category
Variant                                               category
Region, subregion, country or area *                  category
Notes                                                 category
Location code                                         category
ISO3 Alpha-code                                       category
ISO2 Alpha-code                                       category
SDMX code**                                           category
Type                                                  category
Parent code                                           category
Year                                                     int64
Annual total dep. ratio [(0-14 & 65+) / 15-64] (%)     float64
Annual total dep. ratio [(0-19 & 65+) / 20-64] (%)     float64
Annual total dep. ratio [(0-19 & 70+) / 20-69] (%)     float64
Annual total dep. ratio [(0-24 & 70+) / 25-69] (%)     float64
Annual total dep. ratio [(0-24 & 65+) / 25-64] (%)     float64
Annual child dep. ratio [0-14 / 15-64] (%)             float64
Annual child dep. ratio [0-19 / 20-64] (%)             float64
Annual child dep. ratio [0-19 / 20-69] (%)             float64
Annual child dep. ratio [0-24 / 25-69] (%)             float64
dtype: object

In [7]:
df_deaths.dtypes

Index                                   category
Variant                                 category
Region, subregion, country or area *    category
Notes                                   category
Location code                           category
                                          ...
97                                       float64
98                                       float64
99                                       float64
100+                                     float64
Sex                                       object
Length: 113, dtype: object

In [38]:
(
    df_population,
    df_fertility,
    df_demographics,
    df_depratio,
    df_deaths,
) = sanity_checks(df_population, df_fertility, df_demographics, df_depratio, df_deaths)

In [39]:
df_depratio, df_deaths = std_columns(df_depratio, df_deaths)