In [1]:
from typing import Iterable
import yaml

from owid import catalog

from etl import grapher_helpers as gh
from etl.paths import DATA_DIR, STEP_DIR

In [2]:
dataset = catalog.Dataset(DATA_DIR / "garden" / "un" / "2022-07-11" / "un_wpp")

In [3]:
assert len(dataset.metadata.sources) == 1

In [4]:
dataset.metadata.short_name = "un_wpp__2022_07_11"

In [6]:
dataset.metadata.sources[0].description = dataset.metadata.description
dataset.metadata.description = ""

---

In [7]:
table = dataset["long"].reset_index()

In [9]:
table = gh.adapt_table_for_grapher(table, country_col="location")

In [11]:
t = table.reset_index().set_index(["entity_id", "year", "sex", "age", "variant"])

In [12]:
t

                                      metric       value
entity_id year sex    age variant
355       2022 none   0   low      sex_ratio  105.360001
                      5   low      sex_ratio  106.180000
                      10  low      sex_ratio  106.699997
                      15  low      sex_ratio  106.769997
                      20  low      sex_ratio  106.540001
...                                      ...         ...
255       2100 male   1-4 high        deaths    0.000000
                          low         deaths    0.000000
               female 1-4 medium      deaths    0.000000
                          high        deaths    0.000000
                          low         deaths    0.000000

[23151682 rows x 2 columns]